body{
    overflow-x: hidden;
}

.hide{
    display: none;
}

.scrollbar--light-reversed {
  scrollbar-color: #999494 #eaeaea;
  scrollbar-width: thin;
}
.scrollbar--light-reversed::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background-color: red;
}
.scrollbar--light-reversed::-webkit-scrollbar-corner {
  background: #eaeaea;
}
.scrollbar--light-reversed::-webkit-scrollbar-thumb {
  background: #999494;
  border: 1px solid #eaeaea;
}
.scrollbar--light-reversed::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
.scrollbar--light-reversed::-webkit-scrollbar-track {
  border: 1px solid #eaeaea;
  background-color: #eaeaea;
}

.h100{
    padding-top: 56px;
    min-height:100vh;
}

#home .display-1{
    font-size: 6em;
    line-height: .7em;
}

#home .bag1{
    top:50%;
    transform: translateY(calc(-50% + 56px));
    left:calc(0% + 5em);
}

#home .bag2{
    top:50%;
    transform: translate(-100%,calc(-50% + 56px));
    left:calc(100%);
}

#home .gambar1{
    height: 400px;
    border-radius: 200px;
    left:calc(100% - 5em);
}
#home .kotak1{
    width: 300px;
    height: 80vh;
    background-color: #029AFF;
}

#tentang{
    position: relative;
}

#tentang .display-1{
    font-size: 6em;
    line-height: .7em;
}

#tentang .garis{
    height: 10px;
    width: 23em;
    margin-top: 1.5em;
    background-color: #FBA734;
}

#tentang .bag2{
    background-color: #1A4AB9;
}

#jasa .bag2{
    position: relative;
    color:#FFFFFF;
}

#jasa .bag2 .container{
    position: absolute;
    z-index: 1;
}

#jasa .bag2::after{
    content: "";
    background-color: #03263490;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

#jasa .bag2 img{
    bottom:0%;
    -webkit-mask-image:-webkit-gradient(linear, left top, left center, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}
#csr .bag2{
    position: relative;
    height: 100vh;
}

#csr img{
    object-fit: scale-down;
    width: calc(100% - 5em);
}
#csr .bag2::before{
    content: '';
    top: 50%;
    right:0;
    width: calc(100% - 5em);
    height: 50vh;
    position: absolute;
    background-color: #FAB8C4;
    transform: translateY(-50%);
    z-index: -2;
}

#csr .bag2::after{
    content: '';
    top: 50%;
    right:0;
    width: 40vh;
    height: 40vh;
    position: absolute;
    background-color: #1A4AB9;
    transform: translateY(-25vh);
    z-index: -1;
    border-bottom-left-radius: 40vh;
}

#kontak .bag1, #kontak .bag2{
    min-height: calc(50vh - 28px);
}

#kontak .tombol a{
    width: 200px;
}

#kontak .bag2{
    background-color: #1A4AB9;
    width: 100vw;
    position: absolute;
    left: 0;
    color: #FFFFFF;
}

#kontak .bag2 .display-4{
    line-height: .7em;
}

iframe {
    border-radius: .5em;
}